<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/fontawesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/css/AdminLayoutStyle.css" rel="stylesheet" />
    <link href="~/css/Search.css" rel="stylesheet" />
    <link href="~/css/About.css" rel="stylesheet" />
    <link href="~/css/Friends.css" rel="stylesheet" />
    <link href="~/css/Profile.css" rel="stylesheet" />
    <link href="~/css/AdminUsers.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>

<body>

    <div class="header1 row m-0 p-0">
        <form method="get" id="searchForm" asp-controller="Administration" asp-action="AdminUserSearch" class="searchAndIcon">
            <div id="" class="facebookIcon">
                <i class="fab fa-facebook-square"></i>
            </div>
            <div id="" class=""><input placeholder="Search " type="text" id="searchText" name="searchText" class="searchbox" /></div>
            <div class="input-group-append">
                <button form="searchForm" id="searchButton">
                    <i class="fa fa-search" id="searchIcon" aria-hidden="true"></i>
                </button>
            </div>
        </form>

        <div class="connectionIcon">
            <div id="" class="profilearea">
                <a asp-controller="Profile" asp-action="Profile" >
                    @{string ProfilePicture = "/Images/" + ViewBag.User.UserPicture ?? "default.jpg";
                    <img src=@ProfilePicture class="profpic" />
                        }
                    @*<img src="@ViewBag.User.UserPicture" class="profpic" />*@
                </a>
            </div>
            <div class="collectionOfNavICon">

                <div id="" class="profilearea1"><a asp-controller="Profile" asp-action="Profile">Profile</a></div>
                <div id="" class="profilearea1"><a asp-controller="Home" asp-action="Index">Home</a></div>
                <div id="" class="profilearea1"><a asp-controller="Administration" asp-action="AllUsers">Users</a></div>
                <div id="" class="profilearea1"><a asp-controller="Administration" asp-action="AllRoles">Roles</a></div>

                <div id="" class="findf">
                    <i class="fas fa-users"></i>
                </div>
                <div id="" class="message">
                    <i class="fab fa-facebook-messenger"></i>
                </div>
                <div id="" class="notification">
                    <i class="fas fa-bell"></i>
                </div>

                <a asp-controller="Settings" asp-action="Index">
                    <div id="" class="setting">
                        <i class="fas fa-cog">
                        </i>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="PageBody row ml-0 mr-0 p-0">

        <div class="FacebookContent col-10 p-0">
            @RenderBody()
        </div>

        <div class="chat-sidebarRight col-2 p-0">
            @foreach (var item in ViewBag.User.FriendRequestReceivers)
            {
                <div class="friendList">
                    <div class="frinedImg">
                        <img src="@item.Sender.UserPicture" alt="">
                    </div>
                    <div class="friendName">@item.Sender.UserFirstName @item.Sender.UserLastName</div>
                </div>
            }
            @foreach (var item in ViewBag.User.FriendRequestSenders)
            {
                <div class="friendList">
                    <div class="frinedImg">
                        <img src="@item.Receiver.UserPicture" alt="">
                    </div>
                    <div class="friendName">@item.Receiver.UserFirstName @item.Receiver.UserLastName</div>
                </div>
            }
        </div>

    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/AutoTextAreaResize.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/Search.js"></script>
    <script src="~/js/Profile.js"></script>
    <script src="~/js/AdminUsers.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>