@model HomeViewModel
@inject SignInManager<User> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCProject</title>

    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" />
    <link href="~/css/Search.css" rel="stylesheet" />

</head>
<body>
    <div class="header1">
        <form method="get" id="searchForm" asp-action="Profile" asp-controller="Search" class="searchAndIcon">
            <div id="" class="facebookIcon">
                <i class="fab fa-facebook-square"></i>
            </div>
            <div id="" class="">
                <input placeholder="Search " type="text" id="searchText" name="searchText" class="searchbox" />
            </div>
            <div class="input-group-append">
                <button form="searchForm" id="searchButton">
                    <i class="fa fa-search" id="searchIcon" aria-hidden="true"></i>
                </button>
            </div>
        </form>

        <div class="connectionIcon">
            <div id="" class="profilearea">
                <a href="#">
                    <img src="~/Images/prof.png" class="profpic" />
                </a>
            </div>
            <div class="collectionOfNavICon">

                <div id="" class="profilearea1"><a asp-controller="Profile" asp-action="Profile">Profile</a></div>

                <div id="" class="profilearea4"><a href="#">Home</a></div>

                <a asp-action="Logout" asp-controller="Start" style="margin-right:25px">
                    Logout @Model.User.UserFirstName @Model.User.UserLastName
                </a>

                <div id="" class="findf">
                    <i class="fas fa-users"></i>
                </div>
                <div id="" class="message">
                    <i class="fab fa-facebook-messenger"></i>
                </div>
                <div id="" class="notification">
                    <i class="fas fa-bell"></i>
                </div>

                <a asp-controller="Settings" asp-action="Index">
                    <div id="" class="setting">
                        <i class="fas fa-cog">
                        </i>
                    </div>
                </a>
            </div>

        </div>

        <div class="chat-sidebarRight">

            @foreach (var item in Model.UserFriends)
            {
                <div class="friendList">
                    <div class="frinedImg">
                        <img src="~/Images/prof.png" alt="">
                    </div>
                    <div class="friendName">@item.UserFirstName  @item.UserLastName</div>
                </div>
            }

        </div>

    </div>

    <div class="FacebookContent">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <a href="~/js/bootstrap.bundle.min.js.map">~/js/bootstrap.bundle.min.js.map</a>
    <a href="~/js/bootstrap.min.js.map">~/js/bootstrap.min.js.map</a>
    <script src="~/js/Home.js"></script>


    @RenderSection("Scripts", required: false)



</body>
</html>
